.card {
  // background-color: #1f1f1f;
  border-radius: 15px;
  border: 2px solid hsl(210, 14%, 13%);
  min-width: 280px;

  padding: 3em 2em;

  &__socials {
    display: flex;
    flex-direction: column;
  }

  .social-links {
    justify-content: center;

    @media (min-width: 768px) {
      display: none;
    }
  }
}

.profile-image {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
  object-position: center right;

  cursor: pointer;
}
