.nav-menu {
  ul {
    display: flex;
    width: fit-content;
    gap: 20px;
    list-style: none;
    font-family: "InterSemi";
    letter-spacing: 1px;
    font-size: 16px;
    cursor: pointer;
  }

  li:hover {
    text-underline-offset: 5px;
    text-decoration: underline;
  }
}
