.lightbox {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0%;
  top: 0;
  background: linear-gradient(rgba(30, 30, 30, 0.9), #000 1810%);

  img {
    width: 400px;
    height: auto;

    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);

    @media (max-width: 767px) {
      width: 300px;
    }
  }

  &-close {
    cursor: pointer;
    position: fixed;
    right: 2%;
    top: 4%;

    @media (max-width: 767px) {
      right: 4%;
    }
  }
}
