#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  .card {
    padding: 2em;
  }

  @media (max-width: 767px) {
    width: 100%;
  }
}

.wrapper {
  display: flex;
  max-width: 90%;
  gap: 12%;
  margin: auto;
  padding: 40px 0;
}

.bio {
  font-family: InterRegular;
  line-height: 2;
  letter-spacing: 1px;
  text-align: left;
}

@media (max-width: 992px) {
  .wrapper {
    min-width: 100%;

    flex-direction: column-reverse;
    gap: 25px;
    padding: 15px 0;
  }
}

@media (min-width: 993px) {
  .bio {
    margin-top: 25px;
  }
}
