#root {
  // max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  // padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;

  @media (max-width: 767px) {
    width: 100%;
  }
}

.main {
  display: flex;
  align-items: flex-start;
  height: 100%;
  // max-width: 90%;
  max-width: 1280px;
  gap: 12%;
  margin: auto;
  padding: 4rem;
  box-sizing: border-box;
}

.bio {
  font-family: InterRegular;
  line-height: 2;
  letter-spacing: 1px;
  text-align: left;
}

@media (max-width: 992px) {
  .main {
    min-width: 100%;

    flex-direction: column-reverse;
    align-items: center;
    gap: 25px;
    padding: 15px 45px;
  }
}

@media (min-width: 993px) {
  .bio {
    margin-top: 25px;
  }
}
