.header {
  height: 74px;
  border-bottom: 2px solid hsl(210, 14%, 13%);
  position: sticky;
  top: 0;
  background-color: inherit;
  letter-spacing: 1px;
  font-size: 16px;
  display: flex;
  padding: 0 4rem;
  align-items: center;
  background-color: rgb(9 14 25/1);
}

.inner {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.social-links {
  display: flex;
  align-items: center;
  gap: 12px;
}
