@import url(./assets/fonts/fonts.css);

:root {
  font-family: InterSemi, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: hsl(210, 14%, 7%); */
  background-color: rgb(9 14 25/1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #fff;
  text-decoration: none;

  transition: all 0.3s ease;
}
a:hover {
  color: hsl(75, 94%, 57%);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

  font-size: 14px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
